*pyc
detectron2_repo/*
slowfast.eg*
runs*
stdout*
output/*
wandb/*
checkpoints/*
check_feat.py
check.csv
handle_wandb.ipynb
exp_weights/
*.sh
better_output/*
few_shot_test_csvs/
notebooks/analysis/*csv
out*
test_csvs*
notebooks/data/*
save_exp/



point_tracking/slurm_extract_pt.py
